.details {
  font-size: 15px;
  color: white;
  padding-top: 35px;
}

body {
  text-align: center;
  background-image: url('./moon-horizon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.info {
    color: white;
    padding-top: 130px;
    padding-right: 100px;
    font-size: 17px;
}

.title {
    color: white;
}

info {
  color: white;
}

img {
  padding-bottom: 25px;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 15%;
}
