body {
  background-color: black;
}

@media (min-width: 1200px) {
  .container {
    width: 1250px !important;
  }
}





@media (min-width: 992px) {
  .col-md-4 {
    width: 27%;
  }
}
/*/////MoonDetails Components//////////*/
.details {
  font-size: 17px;
  color: white;
}

.currentDetails {
  color: white;
  margin-top: 10px;

}

img {
  padding-bottom: 45px;
  margin-left: -66px;
}

#moonName {
  text-align: center;
}


/*/////MoonInfo Components//////////*/
.info {
  color: white;
  font-size: 15px;
  margin: 10px 0px;
}

/*/////MoonPhases Components//////////*/
.phases {
  color: white;
  margin-top: -10px;
}

/*/////SearchBar Components//////////*/
.search-bar {
  margin: 20px;
  text-align: center;
  padding-top: 20px;
}

.search-bar input {
  width: 15%;
  text-align: center;
}

/*/////index//////////*/
.title {
  color: white;
  text-align: center;
}
